.idea
.vscode
__pycache__
AAS-Weighted-Set-Cover/__pycache__
algorithms/__pycache__
generator/__pycache__
instance/__pycache__
AAS-Weighted-Set-Cover/venv
AAS-Notes.md
__pycache__
test.ipynb
test.py
venv
instances/txt
instances/wcnf